


#title {
  background-color:  #ff4c68;
  color: #fff;
}

#header-iphone {
  -ms-transform: rotate(25deg);
  /* IE 9 */
  -webkit-transform: rotate(25deg);
  /* Safari 3-8 */
  -moz-transform:rotate(25deg);
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}



.big-heading {

  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}


.download-button {
  margin: 5% 3% 5% 0;
}

.header-button {
  margin: 15px;
}

/* Navigation Bar  */
.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
  margin: auto 0;
}

/* Title Image */
/* Features */
#features {
  position: relative;
  padding: 200px auto;
  background-color: #fff;
  line-height: 1.2;
  z-index:1;
}

.feature-item {
  font-family: 'Montserrat';
  text-align: center;
  padding: 5%;
}

.feature-item-icon {
  font-size: 4rem;
  color: #ff4c68;
  margin-bottom: 10px;
}

.feature-item-icon:hover {
  opacity: 0.5;
}

/* Testimonials Section */

#testimonials {
  text-align:center;
  background-color:#ef8172;
  color: #fff;

}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;

}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width:15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.card {
  text-align:center;

}

.pricing-column  {
padding: 3% 2%;

}

/* Call to Action */

#cta{
  text-align: center;
  background-color:#ff4c68;
  color:#fff;
}

.cta-title {
  width:60%;
  padding: 50px 50px 0;
  margin: 5px auto 0;
}


/*Footer section */

#footer {
text-align:center;
background-color: #fff;
padding:10%;

}

.download-button-footer {

  padding-bottom:50px;
}

.footer-icons {
  margin-bottom: 20px;
}

.footer-icon {
  margin:10px;
}

/* media */
@media  (max-width:1028px) {
  #header-iphone{
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari 3-8 */
    transform: rotate(0);
    width: 60%;
    position: static;
    margin: 10% 20%;
  }

  #title {
    text-align: center;
  }
  h1 {
    font-size:2.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
  }

}
